.btn {
    border: $border;
    border-radius: .4rem;
    box-shadow: 5px 5px #000;
    color: #000;
    display: inline-block;
    font-family: $font-display;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-right: 2.5rem;
    margin-top: 2.5rem;
    padding: .5rem 3rem .2rem;
    text-decoration: none;
    text-transform: uppercase;
    rotate: -1.5deg;
    transition: all .2s;

    &--pink {
        background-color: $color-pink;
    }

    &--yellow {
        background-color: $color-yellow;
    }

    &--green {
        background-color: $color-green;
    }

    &:hover {
        filter: brightness(90%);
        scale: 1.5;
        z-index: 1;
    }
}