.btn-product {
    border: $border;
    border-radius: .4rem;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: $font-display;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    padding-block: .5rem .2rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s;
    width: 80%;

    &:hover {
        filter: brightness(90%);
        scale: 1.1;
        z-index: 1;
    }

    &--center {
        align-self: center;
        width: 60%;
    }

    &--end {
        align-self: flex-end;
        justify-self: center;
    }

    &--1 {
        background-color: $color-pink;
    }

    &--2 {
        background-color: $color-yellow;
    }

    &--3 {
        background-color: $color-green;
    }
}