.section-hero {
    align-items: center;
    border-bottom: $border;
    display: flex;
    height: 100dvh;
    overflow: hidden;
    padding-block: 15rem 5rem;
    padding-inline: 15rem;
    position: relative;
    
    @media only screen and (max-width: $bp-large) {
        padding-inline: $padding-medium;
    }

    @media only screen and (max-width: $bp-medium) {
        padding-inline: $padding-small;
    }

    &--index {
        align-items: center;
        background-color: $color-green;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @media only screen and (max-width: $bp-medium) {
            grid-template-columns: 1fr;
            justify-items: center;
        }
    }   

    &--about {
        background-color: $color-pink;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    &__info {
        background-color: #fff;
        border: $border;
        box-shadow: $shadow;
        display: flex;
        flex-direction: column;
        left: 15rem;
        padding: 5rem;
        position: absolute;
        width: 45%;

        @media only screen and (max-width: $bp-large) {
            left: $padding-medium;
            top: 15rem;
            width: 60%;
        }

        @media only screen and (max-width: $bp-medium) {
            left: $padding-small;
            width: 75%;
        }

        @media only screen and (max-width: $bp-small) {
            bottom: 5dvh;
            left: auto;
            padding: 5rem 2.5rem;
            text-align: center;
            top: auto;
            width: 90%;
        }

        @media only screen and (max-width: $bp-smallest) {
            border: none;
            border-bottom: $border;
            border-top: $border;
            bottom: 20vw;
            box-shadow: none;
            padding: 5rem 0;
            width: 100%;
        }

        & h1 {
            margin-bottom: 8rem;

            @media only screen and (max-width: $bp-large) {
                margin-bottom: 4rem;
            }
        }
    }

    &__image-container {
        bottom: -10%;
        display: flex;
        justify-content: center;
        position: absolute;
        right: -75%;
        width: 85%;

        @media only screen and (max-width: $bp-largest) {
            bottom: auto;
            right: -85%;
            top: 25%;
            width: 100%;
        }

        @media only screen and (max-width: $bp-large) {
            right: -45%;
            top: 95%;
            width: 90%;
        }

        @media only screen and (max-width: $bp-medium) {
            right: -25%;
        }

        @media only screen and (max-width: $bp-small) {
            align-self: center;
            bottom: 95%;
            right: auto;
            top: auto;
            width: 75%;
        }
    }

    &__image {
        background-color: $color-yellow;
        border: $border-thick;
        box-shadow: $shadow;
        width: 100%;
    }

    &__star {
        height: 20rem;
        position: absolute;
        right: -12.5%;
        rotate: 5deg;
        top: -15%;
        width: 20rem;

        @media only screen and (max-width: $bp-small) {
            height: 15rem;
            top: -20%;
            width: 15rem;
        }
    }
}