.section-stories {
    background-color: $color-yellow;
    border-bottom: $border;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 60vh;
    overflow: hidden;
    position: relative;

    @media only screen and (max-width: $bp-medium) {
        grid-template-rows: 60vh;
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: 1fr;
        grid-template-rows: 30vh max-content;
    }

    & > * {
        padding-inline: $padding-large;

        @media only screen and (max-width: $bp-large) {
            padding-inline: $padding-medium;
        }
    
        @media only screen and (max-width: $bp-medium) {
            padding-inline: $padding-small;
        }
    }

    &__message {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__text {
        font-size: 3rem;
        font-weight: 700;

        @media only screen and (max-width: $bp-small) {
            text-align: center;
        }
    }

    &__client-name {
        font-size: 2rem;
        font-weight: 700;

        @media only screen and (max-width: $bp-small) {
            text-align: right;
        }
    }

    &__image-container {
        align-items: center;
        background-color: $color-green;
        border-left: $border;
        display: flex;
        justify-content: center;
        padding-block: 5rem;

        @media only screen and (max-width: $bp-small) {
            border-left: none;
            border-top: $border;
            grid-row: 2 / 3;
            padding-block: $padding-small;
        }

        & > div {
            position: relative;

            @media only screen and (max-width: $bp-small) {
                display: flex;
                justify-content: center;
            }
        }
    }

    &__image {
        background-color: $color-pink;
        border: $border-thick;
        border-radius: 25% / 30%;
        max-height: 80vh;
        max-width: 100%;

        @media only screen and (max-width: $bp-small) {
            max-height: 40%;
            max-width: 80%;
        }
    }

    &__image-info {
        background-color: #fff;
        border: $border;
        border-radius: 50px;
        bottom: -25%;
        font-size: 2rem;
        left: -15%;
        line-height: 1.25;
        padding: 1rem 3rem;
        position: absolute;

        @media only screen and (max-width: $bp-large) {
            left: -8%;
        }

        @media only screen and (max-width: $bp-medium) {
            bottom: -30%;
        }

        @media only screen and (max-width: $bp-small) {
            bottom: -45%;
            left: 0;
        }

        @media only screen and (max-width: $bp-smallest) {
            bottom: -60%;
        }
    }

    &__bread {
        font-size: 8.5rem;
        position: absolute;
        right: -10%;
        top: 40%;
        
        @media only screen and (max-width: $bp-medium) {
            top: 50%;
        }

        @media only screen and (max-width: $bp-small) {
            right: 0;
            top: 65%;
        }

        @media only screen and (max-width: $bp-smallest) {
            top: 80%;
        }
    }
}