.section-cta-products {
    border-bottom: $border;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 85vh;

    @media only screen and (orientation: portrait), (max-height: 870px) and (orientation: landscape) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    @media only screen and (max-width: $bp-medium) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    &__image-container {
        align-items: center;
        background-color: $color-green;
        display: flex;
        justify-content: flex-end;
        position: relative;

        @media only screen and (orientation: portrait), (max-height: 870px) and (orientation: landscape) {
            display: none;
        }
        
        @media only screen and (max-width: $bp-medium) {
            display: none;
        }
    }

    &__circle-container {
        align-items: center;
        display: flex;
        height: 100%;
        margin-right: -40rem;
        overflow: hidden;
        position: absolute;
        width: 80rem;
    }

    &__circle {
        background-color: $color-yellow;
        border: $border-thick;
        border-radius: 50%;
        display: inline-block;
        height: 100rem;
        width: 100%;
    }

    &__image {
        height: 100%;
        margin-right: -5.5rem;
        object-fit: cover;
        transform: scaleX(-1);
        width: 40rem;
        z-index: 2;

        @media only screen and (max-width: $bp-largest) {
            margin-right: -6.2rem;
            width: 45rem;
        }
    }

    &__info {
        align-items: center;
        background-color: $color-pink;
        border-left: $border;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        padding-block: 6rem;
        padding-inline: $padding-large;
        text-align: center;
        z-index: 1;

        @media only screen and (orientation: portrait), (max-height: 870px) and (orientation: landscape) {
            border-left: none;
        }

        @media only screen and (max-width: $bp-large) {
            padding-inline: $padding-medium;
        }

        @media only screen and (max-width: $bp-medium) {
            border-left: none;
            padding-inline: $padding-small;
        }
    }
}