.section-news {
    border-bottom: $border;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media only screen and (max-width: $bp-large) {
        grid-template-columns: 1fr;
    }

    &__info {
        background-color: #000;
        color: #fff;
        padding: 10rem;

        @media only screen and (max-width: $bp-large) {
            padding: $padding-medium;
        }

        @media only screen and (max-width: $bp-medium) {
            padding: $padding-small;
        }
    }

    &__graph-container {
        align-content: center;
        align-items: center;
        background-color: $color-green;
        column-gap: 10rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-block: $padding-medium;
        padding-inline: $padding-small;
        row-gap: 5rem;

        @media only screen and (max-width: $bp-medium) {
            column-gap: 0;
        }
    }

    &__graph {
        background-image: conic-gradient(
                            $color-pink 70deg, 
                            $color-yellow 0
                          );
        border: $border-thick;
        border-radius: 50%;
        box-shadow: 5px 5px 0px 5px #000;
        height: 40rem;
        width: 40rem;

        @media only screen and (max-width: $bp-smallest) {
            height: 30rem;
            width: 30rem;
        }
    }

    &__graph-info {
		align-items: center;
		display: grid;
		gap: 2rem;
		grid-template-columns: min-content max-content;
		grid-template-rows:  repeat(2, min-content);

        @media only screen and (max-width: $bp-smallest) {
            grid-template-columns: min-content 1fr;
        }
    }

    &__square {
        border: $border-thick;
		box-shadow: 2.5px 2.5px #000;
        height: 3rem;
        width: 3rem;

		&--1 {
			background-color: $color-yellow;
		}

		&--2 {
			background-color: $color-pink;
		}
    }
}