.section-products {
    display: grid;
    grid-template-columns: minmax(min-content, 2fr) repeat(3, 1fr);
    min-height: 100dvh;
    padding-top: 10rem;

    @media only screen and (max-width: 87.5em) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: $bp-medium) {
        grid-template-columns: 1fr;
    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5rem;

        @media only screen and (max-width: $bp-medium) {
            padding: 10rem 5rem;
        }

        @media only screen and (max-width: $bp-medium) {
            padding: $padding-small;
        }
    }

    &__item {
        background-color: #fff;
        display: grid;
        grid-template-rows: 15.2rem repeat(2, max-content) 1fr;
        padding: 5rem;

        @media only screen and (max-width: $bp-medium) {
            padding: $padding-small;
        }

        &--1 {
            background-color: $color-yellow;
            border-left: $border;

            @media only screen and (max-width: $bp-medium) {
                border-left: none;
                border-top: $border;
            }
        }

        &--2 {
            background-color: $color-green;
            border-left: $border;

            @media only screen and (max-width: 87.5em) {
                border-left: none;
                border-top: $border;
            }
        }

        &--3 {
            background-color: $color-pink;
            border-left: $border;

            @media only screen and (max-width: 87.5em) {
                border-top: $border;
            }

            @media only screen and (max-width: $bp-medium) {
                border-left: none;
            }
        }
    }

    &__image-container {
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: contain;
        filter: brightness(120%);
        height: 40rem;

        &--1 {
            background-image: url(../../img/can.webp);
        }

        &--2 {
            background-image: url(../../img/bottle.webp);
        }

        &--3 {
            background-image: url(../../img/2l-bottle.webp);
        }
    }

    &__link {
        align-self: flex-end;
        border: $border;
        border-radius: .4rem;
        color: #000;
        display: inline-block;
        font-family: $font-display;
        font-size: 3.5rem;
        font-weight: 700;
        justify-self: center;
        letter-spacing: 2px;
        padding-block: .5rem .2rem;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .2s;
        width: 80%;

        &:hover {
            filter: brightness(90%);
            scale: 1.1;
            z-index: 1;
        }

        &--pink {
            background-color: $color-pink;
        }

        &--yellow {
            background-color: $color-yellow;
        }

        &--green {
            background-color: $color-green;
        }
    }
}