.section-features {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media only screen and (max-width: $bp-medium) {
        grid-auto-rows: max-content;
        grid-template-columns: 1fr;
    }

    &__square {
        padding-block: 2.5rem 2rem;
        text-align: center;

        &--1 {
            background-color: $color-blue;
        }

        &--2 {
            background-color: $color-pink;
            border-inline: $border;

            @media only screen and (max-width: $bp-medium) {
                border-block: $border;
                border-inline: none;
            }
        }

        &--3 {
            background-color: $color-yellow;
        }
    }

    &__rectangle {
        background-color: #fff;
        border-block: $border;
        grid-column: 1 / -1;
        padding: 5rem $padding-small;
        text-align: center;
    }
}