.section-hero {
    border-bottom: $border;
    height: 100vh;
    padding: 15rem;

    &--index {
        align-items: center;
        background-color: $color-green;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &--about {
        background-color: $color-pink;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__image-container {
        display: flex;
        justify-content: center;
        position: relative;
    }

    &__image {
        border: $border-thick;
        border-radius: 25% / 30%;
        width: 100%;
    }
}