.section-stories {
    background-color: $color-yellow;
    border-bottom: $border;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 90vh;

    &__message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-inline: 10rem;
    }

    &__text {
        font-size: 3rem;
        font-weight: 700;
    }

    &__client-name {
        font-size: 2rem;
        font-weight: 700;
    }

    &__image-container {
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
    }

    &__image {
        border: $border-thick;
        border-radius: 25% / 30%;
        height: 80%;
    }
}