.section-about {
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-block: 10rem;

    &__image-container {
        display: flex;
        filter: brightness(150%);
        justify-content: center;
    }

    &__info {
        padding-right: 25rem;
    }

    &__ceo {
        border-left: 2px solid #fff;
        padding-left: 2.5rem;
    }
}