.section-about {
    background-color: #000;
    border-bottom: $border;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media only screen and (max-width: $bp-large) {
        grid-template-columns: 1fr;
    }

    &__image-container {
        background-image: url(../../img/cans.webp);
        filter: brightness(125%);
        height: 100%;
        background-position: bottom right;

        @media only screen and (max-width: $bp-large) {
            height: 40vh;
        }
    }

    &__info {
        border-left: $border;
        padding-block: 10rem;
        @include padding-inline;
        padding-left: 5rem;

        @media only screen and (max-width: $bp-large) {
            border-left: none;
        }
    }

    &__ceo {
        border-left: 2px solid #fff;
        padding-left: 2.5rem;
    }
}