.span {
    &__small {
        display: inline-block;
        font-size: 1.75rem;
    }

    &__logo {
        color: $color-blue;
        font-family: $font-logo;
        font-size: 5rem;
        font-weight: 400;
        line-height: 1;
        text-transform: none;

        &--small {
            font-size: 1.75rem;
        }

        &--medium {
            font-size: 2.5rem;
        }

        &--big {
            font-size: 10rem;
        }
    }

    &__wave {
        background: linear-gradient(90deg, #000, #ffd600);
        background-size: 100vw;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: wave 6s linear infinite;
          
        @keyframes wave {
            0% {
				background-position-x: 0%;
            }
            
			100% {
              	background-position-x: 600vw;
            }
        }
    }
}