// MARGIN BOTTOM
.mb-sm { margin-bottom: 2rem; }
.mb-md { margin-bottom: 3rem; }
.mb-lg { margin-bottom: 4rem; }
.mb-hg { margin-bottom: 8rem; }

// COLORS
.font-white { color: #fff; }
.font-blue { color: $color-blue; }
.font-pink { color: $color-pink; }
.font-yellow { color: $color-yellow; }
.font-green { color: $color-green; }