.section-product {
    border-bottom: $border;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content;
    min-height: 100dvh;
    padding-block: 15rem 10rem;
    row-gap: 5rem;

    @include padding-inline;

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: 1fr;
    }

    &--small {
        min-height: auto;
        padding: 7.5rem $padding-small;

        &:nth-child(2) {
            border-left: $border;

            @media only screen and (max-width: $bp-small) {
                border-left: none;
            }
        }

        @media only screen and (max-width: $bp-large) {
            grid-template-columns: 1fr;
        }
    }

    &--0 {
        background-color: $color-yellow;
    }

    &--1 {
        background-color: $color-green;
    }

    &--2 {
        background-color: $color-pink;
    }

    &__left {
        align-items: center;
        display: flex;
    }

    &__image-container {
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: contain;
        filter: brightness(120%);
        height: 40rem;
        width: 100%;

        &--0 {
            background-image: url(../../img/can.webp);
        }

        &--1 {
            background-image: url(../../img/bottle.webp);
        }

        &--2 {
            background-image: url(../../img/2l-bottle.webp);
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__info {
        background-color: #fff;
        border: $border-thick;
        box-shadow: $shadow;
        grid-column: 1 / -1;
        margin-top: 5rem;

        &-header {
            border-bottom: $border-thick;
            display: flex;
            padding-top: 1rem;
            padding-inline: 2.5rem;

            @media only screen and (max-width: $bp-smallest) {
                padding-inline: 1.5rem;
            }

            & p:nth-of-type(2) {
                margin-left: 1.5rem;

                @media only screen and (max-width: $bp-smallest) {
                    margin-left: 1rem;
                }
            }

            &--0 {
                background-color: $color-pink;
            }

            &--1 {
                background-color: $color-yellow;
            }

            &--2 {
                background-color: $color-green;
            }

            &-item {
                border-inline: $border;
                border-top: $border;
                cursor: pointer;
                font-family: $font-display;
                font-size: 3.5rem;
                font-weight: 700;
                letter-spacing: 2px;
                line-height: 1.25;
                padding-inline: 2.5rem;
                padding-top: .4rem;

                @media only screen and (max-width: $bp-smallest) {
                    padding-inline: 1.5rem;
                }

                &--0 {
                    background-color: $color-yellow;
                }
    
                &--1 {
                    background-color: $color-green;
                }

                &--2 {
                    background-color: $color-pink;
                }

                &--thick {
                    border-inline: $border-thick;
                    border-top: $border-thick;
                }

                &:hover {
                    filter: brightness(125%);
                }

                &:active {
                    filter: brightness(75%);
                }
            }
        }
    }

    &__description {
        padding: 3rem 2.5rem;

        @media only screen and (max-width: $bp-smallest) {
            padding: 2rem 1.5rem;
        }

        & p {
            font-size: 2.25rem;
            line-height: 1.25;
        }

        & p:not(:last-child) {
            margin-bottom: 2.5rem;

            @media only screen and (max-width: $bp-smallest) {
                margin-bottom: 1.5rem;
            }
        }
    }

    &__reviews {
        display: none;
        grid-template-columns: max-content auto;

        @media only screen and (max-width: $bp-medium) {
            grid-template-columns: 1fr;
        }
    }

    &__reviews-stars {
        border-right: $border;
        height: 100%;
        padding: 3rem 2.5rem;
        width: 41.5rem;

        @media only screen and (max-width: $bp-largest) {
            width: 42.75rem;
        }

        @media only screen and (max-width: $bp-medium) {
            border-bottom: $border;
            border-right: none;
            width: 100%;
        }

        @media only screen and (max-width: $bp-smallest) {
            padding-block: 2rem 1.5rem;
        }

        &--0 {
            background-color: $color-green;
        }

        &--1 {
            background-color: $color-pink;
        }

        &--2 {
            background-color: $color-yellow;
        }
    }

    &__reviews-number {
        display: inline-block;
        font-size: 1.5rem;
        margin-left: .5rem;
    }

    &__reviews-percentage {
        align-items: center;
        column-gap: 1rem;
        display: grid;
        grid-template-columns: max-content 1fr max-content;
        row-gap: 1.5rem;
    }

    &__reviews-percentage-bar {
        border: $border;
        height: 2.5rem;

        &--0 {
            background-color: $color-yellow;
        }

        &--1 {
            background-color: $color-green;
        }

        &--2 {
            background-color: $color-pink;
        }
    }

    &__reviews-percentage-pointer {
        border-right: $border;
        height: calc(2.5rem - 4px);

        &--0 {
            background-color: $color-pink;
        }

        &--1 {
            background-color: $color-yellow;
        }

        &--2 {
            background-color: $color-green;
        }
    }

    &__reviews-messages {
        padding: 3rem 2.5rem;

        @media only screen and (max-width: $bp-smallest) {
            padding: 2rem 1.5rem;
        }
    }

    &__reviews-message {
        &:not(:last-of-type) {
            margin-bottom: 2.5rem;
        }
    }

    &__reviews-title {
        font-family: $font-display;
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 1.25;
    }

    &__reviews-username {
        border-right: $border;
        display: inline-block;
        font-size: 2rem;
        margin-right: .5rem;
        padding-right: 1rem;
    }
}

.section-products-header {
    border-bottom: $border;
    display: flex;
    justify-content: center;
    padding-block: 5rem;
    text-align: center;

    @include padding-inline;
}

.section-product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: 1fr;
    }
}