.section-links {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    padding-block: 15rem;

    @include padding-inline;

    &__heading-1 {
        @extend %heading;
        background-color: $color-yellow;
        border: $border-thick;
        box-shadow: $shadow;
        display: inline-block;
        font-size: 10rem;
        line-height: 1;
        padding-block: 1.5rem 1rem;
        padding-inline: 10rem;
        text-align: center;
        transform: skew(-10deg);

        @media only screen and (max-width: $bp-small) {
            padding-inline: 5rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            box-shadow: none;
            padding-inline: 2rem;
            transform: skew(0);
        }

        &--unskewed {
            display: block;
            transform: skew(10deg);

            @media only screen and (max-width: $bp-smallest) {
                transform: skew(0);
            }
        }
    }

    &__links {
        align-self: flex-start;
    }

    &__link {
        &:link,
        &:visited {
            color: #000;
            display: block;
            font-size: 1.5rem;
            line-height: 1.25;
        }

        &:hover {
            color: $color-pink;
            font-weight: 700;
        }
    }
}