// COLOR VARIABLES
$color-blue: #4a47f6;
$color-pink: #ed61ce;
$color-yellow: #ffd600;
$color-green: #50c3c7;

$border: 2px solid #000;
$border-thick: 4px solid #000;

// FONT VARIABLES
$font-logo: 'Lilita One', sans-serif;
$font-primary: 'Inria Sans', sans-serif;
$font-display: 'Bebas Neue', sans-serif;