// COLOR VARIABLES
$color-blue: #4a47f6;
$color-pink: #ed61ce;
$color-yellow: #ffd600;
$color-green: #50c3c7;

// BORDER VARIABLES
$border: 2px solid #000;
$border-thick: 4px solid #000;

// SHADOW VARIABLES
$shadow: 5px 5px #000;

// FONT VARIABLES
$font-logo: 'Lilita One', sans-serif;
$font-primary: 'Inria Sans', sans-serif;
$font-display: 'Bebas Neue', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;  // 1200px
$bp-large: 62.5em;  // 1000px
$bp-medium: 50em;   // 800px
$bp-small: 37.5em;  // 600px
$bp-smallest: 25em; // 400px

// PADDING VARIABLES
$padding-large: 15rem;
$padding-medium: 7.5rem;
$padding-small: 3.75rem;

// @media only screen and (max-width: $bp-large) {
//     padding: $padding-medium;
// }

// @media only screen and (max-width: $bp-medium) {
//     padding: $padding-small;
// }